<div id="page-content-wrapper">
  <div class="container-fluid ">

    <div class="row">
      <div class="col-md-9">
        <div class="wizard-steps">
          <div class="wizard-step">
            <div class="badge badge-success badge-empty "><i class = "fa fa-check fa-2x "></i></div>
          </div>
          <div class="wizard-step">
            <div class="badge badge-opaque badge-empty"></div>
          </div>
          <div class="wizard-step">
            <div class="badge badge-opaque badge-empty"></div>
          </div>
          <div class="wizard-step">
            <div class="badge badge-opaque badge-empty"></div>
          </div>
          <div class="wizard-step">
            <div class="badge badge-opaque badge-empty"></div>
          </div>
        </div>

        <div class="panel panel-bg-opaque wizard-body wizard-body-2">
          <div class="panel-body ">

            <h1 class = "text-center">Step <strong>2</strong></h1>
            <h4 class = "text-center">Details</h4>
            <hr>
            <%= nested_form_for(@task, url: wizard_path, :method => :put) do |f| %>
                <div class="row">
                  <% if @task.errors.any? %>
                      <div id="error_explanation">
                        <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

                        <ul>
                          <% @task.errors.full_messages.each do |msg| %>
                              <li><%= msg %></li>
                          <% end %>
                        </ul>
                      </div>
                  <% end %>
                  <div class = "col-xs-12 text-center">
                    Job Category : <%= link_to @job_category.name, job_category_path(@job_category) %>
                  </div>
                  <div class = "col-xs-9 pull-left">
                    <%= f.label "Tags (Maximum of 3)", class: "control-label", placeholder: "Tags" %>
                    <%= f.text_field :tag_list, :placeholder =>"Tags", class: "form-control pull-left tokenize formopaque", :id => "task_tags", "data-pre" => @task.tags.map(&:attributes).to_json%>
                  </div>
                  <% if @task.local? %>
                  <div class = "col-xs-3">
                    <%= f.label :zipcode, class: "control-label" %>
                    <%= f.text_field :zipcode, :placeholder =>"Zipcode", class: "form-control pull-right"%>
                  </div>
                  <%end %>
                </div>
                <div class="row m-t-50">
                  <div class = "col-xs-12">
                    <%= f.fields_for :todoitems do |builder| %>
                        <%= render 'todoitem_fields', :f => builder %>
                    <% end %>
                  </div>
                  <p><%= f.link_to_add "Add a To Do Item", :todoitems %></p>
                </div>
                <div class="row m-t-20">
                  <div class = "col-xs-8 col-xs-offset-2">
                    <%= f.text_area :due_date, :value =>"10/3/2014", class: "form-control"%>
                  </div>
                </div>


            <div class="panel-footer bg-light-semi m-t-20">
              <div class="clearfix">
                <%= link_to previous_wizard_path, :class => "pull-left btn btn-default" do %>
                    <i class="fa fa-angle-left"></i> Back
                <% end %>
                <%= button_tag "submit", class: "btn btn-primary pull-right" do %>
                    Next <i class="fa fa-angle-right"></i>
                <% end %>
            <% end %>
                <span class="pull-center wizard-info">
Step &nbsp;
<span class="badge badge-primary">2</span>
&nbsp; of &nbsp;
<span class="badge label-info">5</span>
</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class = "col-md-3 m-t-50">
        <div class="panel panel-success-dk">  <div class="panel-heading panel-handle panel-colorize">
          <div class="panel-title">
      <span class="panel-title-edtitable editable editable-click text-center">
        Average Price
      </span>
          </div>
        </div>
            <div class="panel-body panel-bg-opaque">

              Voluptates magni error excepturi at. magnam hic molestiae in ratione sit sed dolor velit. eius ipsum quia numquam totam voluptas

            </div>
        </div>
        <div class="panel panel-primary">  <div class="panel-heading panel-handle panel-colorize">
          <div class="panel-title">
      <span class="panel-title-edtitable editable editable-click text-center">
        Average Price
      </span>
          </div>
        </div>
          <div class="panel-body panel-bg-opaque">

            Voluptates magni error excepturi at. magnam hic molestiae in ratione sit sed dolor velit. eius ipsum quia numquam totam voluptas

          </div>
        </div>
        <div class="panel panel-success-dk">  <div class="panel-heading panel-handle panel-colorize">
          <div class="panel-title">
      <span class="panel-title-edtitable editable editable-click text-center">
        Average Price
      </span>
          </div>
        </div>
          <div class="panel-body panel-bg-opaque">

            Voluptates magni error excepturi at. magnam hic molestiae in ratione sit sed dolor velit. eius ipsum quia numquam totam voluptas

          </div>
        </div>
      </div>

    </div>
  </div>
  <script>
      $('input.tokenize').tokenfield({
          autocomplete: {
              source: [<% ActsAsTaggableOn::Tag.all.each do |tag|
%>
                  "<%= tag.name%>",
                  <% end %>],
              delay: 100
          },
          createTokensOnBlur: true,
          showAutocompleteOnFocus: true,
          limit: 3
      });
      $( ".js-slider" ).slider({ animate: "fast"});
  </script>