<%= content_tag(:li, fa_icon("pencil", text: "Bulleted list item")) %>
<%= fa_icon "quote-left 4x", class: "text-muted pull-left" %>
<%= fa_icon "quote-right 4x", class: "text-muted pull-right" %>

<%= fa_stacked_icon "terminal inverse", base: "square", class: "pull-right", text: "Hi!" %>
<%= fa_stacked_icon "twitter", base: "square-o" %>

<i class = "fa fa-bookmark-o"></i>
<i class="fa fa-pencil fa-fw">&nbsp;</i>


<h1>This is going to show what the status means</h1>