<%= form_for(@message, html: {class:"form-horizontal", role: "form"}) do |f|%>
<div class="modal modal-primary-lter fade" id="messaging" role="dialog" aria-labelledby="messaging" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="messaging">Rio Runner</h4>
      </div>
      <div class="modal-body">
        <div class = "text-center col-sm-12">
          <h4 class = "blockquote-reverse">"<%= @task.subject %>"</h4>
        </div>
        <div class = "row">
          <div class = "col-sm-10">

                <div class = "form-group">
                  <div class = "col-sm-10">
                    <%= f.hidden_field(:recipient_id, :value => @task.wallet_id)%>
                  </div>
                </div>
                <div class = "form-group">
                  <div class = "col-sm-10">
                    <%= f.hidden_field(:task_id, :value => @task.id)%>
                  </div>
                </div>
                <div class = "form-group">
                  <div class = "col-sm-10">
                    <%= f.hidden_field(:message_type, :value => 'message')%>
                  </div>
                </div>
                <div class = "form-group">
                <div class = "control-label col-sm-2">
                  <i class="fa fa-user fa-fw"></i>
                </div>
                  <div class = "col-sm-10">
                    <div class = "col-sm-offset-1"><h4><%=@wallet.private_name %></div></h4>
                  </div>
                </div>
                <div class = "form-group">
                  <%= f.label :subject, class: "col-sm-2 control-label"  do %>
                      <i class="fa fa-pencil fa-fw"></i>
                  <% end %>
                  <div class = "col-sm-10">
                    <%= f.text_field :subject, class: "form-control col-sm-offset-1", placeholder:"Subject" %>
                  </div>
                </div>

                <div class = "form-group">
                  <%= f.label :body, class: "col-sm-2 control-label"  do %>
                      <i class="fa fa-envelope-o fa-fw"></i>
                  <% end %>
                  <div class = "col-sm-10">
                    <%= f.text_area :body, class:"form-control col-sm-offset-1", placeholder: "Body" %>
                  </div>
                </div>
                </div>
                </div>

            </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Send Message", class:"btn btn-danger pull-right"%>
            <% end %>
      </div>
    </div>
  </div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->