<div class="em-background-box text-white profilebackground">
  <div class="container-fluid">
    <div class="text-center em-background-box-content">
      <ul class="list-inline">
        <li class="animated fadeInRight">
          <a href="#" title="Add Friend" rel="tooltip">
            <i class="fa fa-envelope-o text-white-opaque borderadius" style = "min-height: 2em;"> <span class = "strong">18</span> </i>
          </a>
        </li>
        <li>
          <% if current_user.image_url.present? %>
              <%= image_tag(@user.image_url, :class => "img-circle img-em-border user-img") %>
          <% else %>
              <%= image_tag("avatar.jpg", :class => "img-circle img-em-border user-img") %>
          <% end %>
        </li>
        <li class="animated fadeInLeft">
          <a href="#" title="Send PM" rel="tooltip">
            <i class="fa fa-envelope-o text-white-opaque borderadius"></i>
          </a>
        </li>
      </ul>


      <h1 class="thin"><%= @user.first_name %>&nbsp;<%= @user.last_initial %>.</h1>

      <h4>
        <i class="fa fa-map-marker v-mid fa-lg"></i>
        <span class="thin">Albuquerque, New Mexico</span>
      </h4>
      <h4>
        <span class="thin">Member since <%=@user.created_at.strftime("%b %Y") %></span>
      </h4>

      <div class="row">
        <div class="col-md-12">
          <div class="semi-well-dk em-background-box-actions">
            "<%= @user.about_me %>"
         </div>
      </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="semi-well-dk em-background-box-actions">
            <div class="row">
              <div class = "row">
                  <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                    <!-- Carousel Slides / Quotes -->
                    <div class="carousel-inner page-header">

                      <!-- Quote 1 -->
                      <div class="item active">
                        <blockquote>
                          <div class="row">
                            <div class="col-sm-3 text-center">
                              <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" style="width: 100px;height:100px;">
                            </div>
                            <div class="col-sm-9">
                              <p>Adam is a really great worker.</p>
                              <small>Some user</small>
                            </div>
                          </div>
                        </blockquote>
                      </div>
                      <!-- Quote 2 -->
                      <div class="item">
                        <blockquote>
                          <div class="row">
                            <div class="col-sm-3 text-center">
                              <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/mijustin/128.jpg" style="width: 100px;height:100px;">
                            </div>
                            <div class="col-sm-9">
                              <p>Very very hard worker</p>
                              <small>Another User</small>
                            </div>
                          </div>
                        </blockquote>
                      </div>
                      <!-- Quote 3 -->
                      <div class="item">
                        <blockquote>
                          <div class="row">
                            <div class="col-sm-3 text-center">
                              <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/keizgoesboom/128.jpg" style="width: 100px;height:100px;">
                            </div>
                            <div class="col-sm-9">
                              <p>He was very professional and efficient, highly profficient.</p>
                              <small>Last User</small>
                            </div>
                          </div>
                        </blockquote>
                      </div>
                    </div>
                    <!-- Bottom Carousel Indicators -->
                    <ol class="carousel-indicators ">
                      <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                      <li data-target="#quote-carousel" data-slide-to="1" class=""></li>
                      <li data-target="#quote-carousel" data-slide-to="2" class=""></li>
                    </ol>
                  </div>
                </div>
              </div>
<div class = "row">
              <div class="col-md-12">
                <ul class="list-inline">
                  <li class="text-center pull-left">
                    <h5 class="base-header">Jobs Completed</h5>
                    <h4 class="base-header major">12</h4>
                  </li>
                  <li class="text-center">
                    <h5 class="base-header">Rating</h5>
                    <h4 class="base-header major"><i class = "fa fa-star-o"></i><i class = "fa fa-star-o"></i><i class = "fa fa-star-o"></i><i class = "fa fa-star-o"></i></h4>
                  </li>
                  <li class="text-center pull-right">
                    <h5 class="base-header">Rating</h5>
                    <h4 class="base-header major">+84</h4>
                  </li>
                </ul>
              </div>
</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="hpadded">

  <ul class="nav nav-tabs">
    <% if @user.id == current_user.id %>
        <li><a href="#comm" data-toggle="tab"><i class="fa fa-comments"></i> Comments</a></li>
    <% else %>
        <li class="active"><a href="#comm" data-toggle="tab"><i class="fa fa-comments"></i> Comments</a></li>
    <% end %>

    <li><a href="#activity" data-toggle="tab"><i class="fa fa-tasks"></i> Activity</a></li>
    <li><a href="#profile"  data-toggle="tab"><i class="fa fa-calendar-o"></i> Timeline</a></li>
    <% if @user.id == current_user.id %>
    <li class = "active"><a href="#account"  data-toggle="tab"><i class="fa fa-user"></i> Account</a></li>
        <% end %>
  </ul>
</div>
<div class="tab-content panel-body">
<% if @user.id == current_user.id %>
<div class="tab-pane fade in" id="comm">
<% else %>
<div class="tab-pane active fade in" id="comm">
<% end %>
  <div class="padded">
    <ul class="chat-box-timeline-list">
      <li>
        <div class="chat-box-timeline">
          <img class="img-responsive img-circle avatar" src="../../images/faker/avatars/48/Faces_Users-11.png" />

          <div class="message">
            <div class="panel panel-light">
              <div class="panel-body panel-colorize panel-arrow-left">

                <div class="chat-box-timeline-title">
                  <span class="label label-success-lt">COMMENT</span>
                  <strong>Ian</strong>

                  <div class="pull-right text-semi">
                    <i class="fa fa-clock-o"></i> 4m ago
                  </div>
                </div>

                <div class="chat-box-timeline-content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem doloribus eaque explicabo nihil obcaecati saepe. Animi doloremque eaque eius fuga, magni mollitia nam placeat quas quos repudiandae suscipit vel velit.
                </div>

                <div class="chat-box-timeline-footer">

                  <form>
                    <div class="media">
                      <a class="pull-left" href="#">
                        <div class="media-object">
                          <img class="img-responsive img-circle avatar-input" src="../../images/faker/avatars/48/Faces_Users-07.png" />
                        </div>
                      </a>
                      <div class="media-body">
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Add Comment">
                  <span class="input-group-addon">
                    <button class="btn btn-xs btn-success">Reply</button>
                  </span>
                        </div>
                      </div>
                    </div>

                  </form>
                </div>

              </div>
            </div>
          </div>
        </div>

        <ul class="chat-box-timeline-list">
          <li>
            <div class="chat-box-timeline">
              <img class="img-responsive img-circle avatar" src="../../images/faker/avatars/48/Faces_Users-08.png" />

              <div class="message">
                <div class="panel panel-light">
                  <div class="panel-body panel-colorize panel-arrow-left">

                    <div class="chat-box-timeline-title">
                      <span class="label label-success-lt">COMMENT</span>
                      <strong>Summer</strong>

                      <div class="pull-right text-semi">
                        <i class="fa fa-clock-o"></i> 4m ago
                      </div>
                    </div>

                    <div class="chat-box-timeline-content">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem doloribus eaque explicabo nihil obcaecati saepe. Animi doloremque eaque eius fuga, magni mollitia nam placeat quas quos repudiandae suscipit vel velit.
                    </div>

                    <div class="chat-box-timeline-footer">

                      <form>
                        <div class="media">
                          <a class="pull-left" href="#">
                            <div class="media-object">
                              <img class="img-responsive img-circle avatar-input" src="../../images/faker/avatars/48/Faces_Users-05.png" />
                            </div>
                          </a>
                          <div class="media-body">
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="Add Comment">
                  <span class="input-group-addon">
                    <button class="btn btn-xs btn-success">Reply</button>
                  </span>
                            </div>
                          </div>
                        </div>

                      </form>
                    </div>

                  </div>
                </div>
              </div>
            </div>

          </li>
        </ul>
      </li>
      <li>
        <div class="chat-box-timeline">
          <img class="img-responsive img-circle avatar" src="../../images/faker/avatars/48/Faces_Users-02.png" />

          <div class="message">
            <div class="panel panel-light">
              <div class="panel-body panel-colorize panel-arrow-left">

                <div class="chat-box-timeline-title">
                  <span class="label label-success-lt">COMMENT</span>
                  <strong>Toby</strong>

                  <div class="pull-right text-semi">
                    <i class="fa fa-clock-o"></i> 4m ago
                  </div>
                </div>

                <div class="chat-box-timeline-content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem doloribus eaque explicabo nihil obcaecati saepe. Animi doloremque eaque eius fuga, magni mollitia nam placeat quas quos repudiandae suscipit vel velit.
                </div>

                <div class="chat-box-timeline-footer">

                  <form>
                    <div class="media">
                      <a class="pull-left" href="#">
                        <div class="media-object">
                          <img class="img-responsive img-circle avatar-input" src="../../images/faker/avatars/48/Faces_Users-09.png" />
                        </div>
                      </a>
                      <div class="media-body">
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Add Comment">
                  <span class="input-group-addon">
                    <button class="btn btn-xs btn-success">Reply</button>
                  </span>
                        </div>
                      </div>
                    </div>

                  </form>
                </div>

              </div>
            </div>
          </div>
        </div>

      </li>
    </ul>



  </div>
</div>

<div class="tab-pane fade" id="activity">
  <div class="padded">
    <div class="chat-box-timeline">
      <img class="img-responsive img-circle avatar" src="../../images/faker/avatars/48/Faces_Users-21.png" />

      <div class="message">
        <div class="panel  panel-light">
          <div class="panel-body panel-arrow-left">

            <div class="chat-box-timeline-title">
              <span class="label label-success-lt">COMMENT</span>
              <strong>Eric</strong>
              <span>posted a comment on this project.</span>

              <div class="pull-right text-semi">
                <i class="fa fa-clock-o"></i> 4m ago
              </div>
            </div>

            <div class="chat-box-timeline-content">
              <blockquote>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem doloribus eaque explicabo nihil obcaecati saepe. Animi doloremque eaque eius fuga, magni mollitia nam placeat quas quos repudiandae suscipit vel velit.
              </blockquote>
            </div>

            <div class="chat-box-timeline-footer">

              <a href="#" rel="tooltip" title="Bookmark">
                <i class="fa fa-bookmark"></i>
              </a>

              <a href="#" rel="tooltip" title="Download">
                <i class="fa fa-paperclip"></i> document.pdf
              </a>

              <a href="#" class="pull-right" rel="tooltip" title="Delete">
                <i class="fa fa-trash-o"></i>
              </a>

              <form>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Add Comment">
              <span class="input-group-addon">
                <a class="hpadded" href="#" title="Attach a file" rel="tooltip"><i class="fa fa-paperclip"></i></a>
                <button class="btn btn-xs btn-success">Reply</button>
              </span>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="chat-box-timeline">
      <img class="img-responsive img-circle avatar" src="../../images/faker/avatars/48/Faces_Users-14.png" />
      <div class="message">
        <div class="panel  panel-light">
          <div class="panel-body panel-arrow-left">

            <div class="chat-box-timeline-title">
              <span class="label label-primary-lt">TASK</span>
              <strong>Abel</strong>
              <span>completed this task.</span>

              <div class="pull-right text-semi">
                <i class="fa fa-clock-o"></i> 8m ago
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="chat-box-timeline">
      <img class="img-responsive img-circle avatar" src="../../images/faker/avatars/48/Faces_Users-03.png" />
      <div class="message">
        <div class="panel  panel-light">
          <div class="panel-body panel-arrow-left">

            <div class="chat-box-timeline-title">
              <span class="label label-inverse-lt">FILE</span>
              <strong>Geraldine</strong>
              <span>added 4 files to this project.</span>

              <div class="pull-right text-semi">
                <i class="fa fa-clock-o"></i> 11m ago
              </div>
            </div>

            <div class="chat-box-timeline-content">
              <div class="row">
                <div class="col-xs-6 col-md-3">
                  <a href="#" class="thumbnail">
                    <img src="http://placehold.it/240x150" class="img-responsive">
                  </a>
                </div>
                <div class="col-xs-6 col-md-3">
                  <a href="#" class="thumbnail">
                    <img src="http://placehold.it/240x150" class="img-responsive">
                  </a>
                </div>
                <div class="col-xs-6 col-md-3">
                  <a href="#" class="thumbnail">
                    <img src="http://placehold.it/240x150" class="img-responsive">
                  </a>
                </div>
                <div class="col-xs-6 col-md-3">
                  <a href="#" class="thumbnail">
                    <img src="http://placehold.it/240x150" class="img-responsive">
                  </a>
                </div>
              </div>
            </div>

            <div class="chat-box-timeline-footer">
              <form>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Add Comment">
              <span class="input-group-addon">
                <a class="hpadded" href="#" title="Attach a file" rel="tooltip"><i class="fa fa-paperclip"></i></a>
                <button class="btn btn-xs btn-success">Reply</button>
              </span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tab-pane fade" id="profile">
  <div class="padded">
    <div class="row">
      <div class="col-md-12">

        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="timeline-top">
              <div class="panel panel-light">
                <div class="panel-heading panel-colorize">

                  <div class="panel-title">
                    <a href="#" class="v-mid badge badge-danger badge-rounded badge-empty badge-grow"></a>
                    <span class="mid">title</span>
                  </div>

                  <span class="pull-right text-semi"><i class="icm icm-clock"></i> <span>8m ago</span></span>
                </div>

                <div class="panel-body panel-colorize">
                  <p>Et ex et dolorem aliquam consequuntur amet possimus distinctio nihil autem culpa nihil illum velit. et molestiae sed rerum rerum beatae quo. sit eos ut eaque architecto dignissimos. et fuga necessitatibus id odit amet. commodi sint quis quia qui ad atque velit</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <ul class="timeline timeline-mid-light-dk timeline-badges-success-lt">


          <li class="">
            <div class="timeline-badge"></div>
            <div class="panel panel-light">
              <div class="panel-heading panel-colorize">

                <div class="panel-title">
                  <a href="#" class="v-mid badge badge-primary-lt badge-rounded badge-empty badge-grow"></a>
                  <span class="mid">Reese Olsen</span>
                </div>
                <span class="pull-right text-semi"><i class="icm icm-clock"></i> <span>8m ago</span></span>
              </div>

              <div class="panel-body panel-colorize">
                <p>Inventore molestias impedit aut voluptas qui quia enim culpa qui ut ut molestiae. ut cum est numquam itaque assumenda et est aspernatur ut. quo similique et eligendi dolores fugiat et harum. temporibus exercitationem quia dicta magni veniam doloremque illo esse dolorem consequuntur. et nobis et at est vitae quo perspiciatis. repellendus aut repudiandae provident maiores et qui doloremque officiis sequi necessitatibus rem ut velit debitis. dolores ullam doloribus quo fuga illum sapiente explicabo itaque sed</p>
              </div>

            </div>
          </li>

          <li class="timeline-inverted">
            <div class="timeline-badge"></div>
            <div class="panel panel-success">
              <div class="panel-heading panel-colorize">

                <div class="panel-title">
                  <a href="#" class="v-mid badge badge-light badge-rounded badge-empty badge-grow"></a>
                  <span class="mid">Colorize options</span>
                </div>
                <span class="pull-right text-semi"><i class="icm icm-clock"></i> <span>8m ago</span></span>
              </div>

              <div class="panel-body panel-colorize">
                <p>At magnam quis dolore facere sed fuga est. et eligendi est voluptatem rerum enim nobis cupiditate tempore placeat. totam laborum nihil eveniet eaque in rem ea. est quae voluptas iure quo qui amet est aut similique itaque voluptatem rem exercitationem possimus. nostrum aspernatur quod ut voluptates velit aut vel a inventore. consequuntur esse quaerat asperiores autem omnis iusto voluptas molestiae numquam odio voluptas</p>
              </div>

            </div>
          </li>

          <li class="">
            <div class="timeline-badge"></div>
            <div class="panel panel-light">
              <div class="panel-heading panel-colorize">

                <div class="panel-title">
                  <a href="#" class="v-mid badge badge-success-lt badge-rounded badge-empty badge-grow"></a>
                  <span class="mid">Caitlyn Woodard</span>
                </div>
                <span class="pull-right text-semi"><i class="icm icm-clock"></i> <span>8m ago</span></span>
              </div>

              <div class="panel-body panel-colorize">
                <p>Nam culpa repudiandae voluptas possimus est sunt quia. itaque sunt vel assumenda aut et esse laborum modi laborum eum quas. nam quod amet eos et quam eius alias est rerum. facilis at eius et. facere iusto et magnam distinctio suscipit atque dolores itaque quas</p>
              </div>

            </div>
          </li>

          <li class="timeline-inverted">
            <div class="timeline-badge"></div>
            <div class="panel panel-light">
              <div class="panel-heading panel-colorize">

                <div class="panel-title">
                  <a href="#" class="v-mid badge badge-warning-lt badge-rounded badge-empty badge-grow"></a>
                  <span class="mid">Guy Palmer</span>
                </div>
                <span class="pull-right text-semi"><i class="icm icm-clock"></i> <span>8m ago</span></span>
              </div>

              <div class="panel-body panel-colorize">
                <p>Quidem repellendus corrupti voluptatem tempore rerum ut. rem fugiat ipsam qui et corrupti explicabo aperiam. est aut quibusdam consectetur commodi pariatur voluptas</p>
              </div>

            </div>
          </li>

          <li class="">
            <div class="timeline-badge"></div>
            <div class="panel panel-light">
              <div class="panel-heading panel-colorize">

                <div class="panel-title">
                  <a href="#" class="v-mid badge badge-warning-lt badge-rounded badge-empty badge-grow"></a>
                  <span class="mid">Sadie Garrett</span>
                </div>
                <span class="pull-right text-semi"><i class="icm icm-clock"></i> <span>8m ago</span></span>
              </div>

              <div class="panel-body panel-colorize">
                <p>Et cumque minus facere ut quas numquam est. magni dolore consequatur rerum cum rerum consequatur voluptatem doloribus voluptate similique ex reiciendis assumenda ut. quasi commodi et enim recusandae sed dolorem voluptas eius mollitia quia maxime in dolores est</p>
              </div>

            </div>
          </li>

          <li class="timeline-inverted">
            <div class="timeline-badge"></div>
            <div class="panel panel-light">
              <div class="panel-heading panel-colorize">

                <div class="panel-title">
                  <a href="#" class="v-mid badge badge-success-lt badge-rounded badge-empty badge-grow"></a>
                  <span class="mid">Giselle Rodgers</span>
                </div>
                <span class="pull-right text-semi"><i class="icm icm-clock"></i> <span>8m ago</span></span>
              </div>

              <div class="panel-body panel-colorize">
                <p>Fugiat fugiat reiciendis temporibus qui enim. repudiandae consectetur alias vel sed in quisquam velit. quam enim culpa quia sequi. eum eos nostrum voluptatem libero ut magni eaque blanditiis doloremque voluptas aspernatur quisquam molestiae. aspernatur dolores dolor aliquid repellendus necessitatibus itaque fugiat</p>
              </div>

            </div>
          </li>

          <li class="">
            <div class="timeline-badge"></div>
            <div class="panel panel-light">
              <div class="panel-heading panel-colorize">

                <div class="panel-title">
                  <a href="#" class="v-mid badge badge-danger-lt badge-rounded badge-empty badge-grow"></a>
                  <span class="mid">Summer Stevenson</span>
                </div>
                <span class="pull-right text-semi"><i class="icm icm-clock"></i> <span>8m ago</span></span>
              </div>

              <div class="panel-body panel-colorize">
                <p>Hic eum ut cumque deleniti perferendis voluptate cum omnis consequatur voluptatibus illum. exercitationem non perspiciatis ipsam beatae consequuntur sit debitis et. ipsam doloribus magnam exercitationem animi omnis praesentium</p>
              </div>

            </div>
          </li>

          <li class="clearfix" style="float: none;"></li>

        </ul>

        <div class="row">
          <div class="col-md-12">
            <div class="text-center timeline-bottom">
              <a class="btn btn-success-lt" href="#">Load More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<a name="editprofile"></a>
<% if @user.id == current_user.id %>
<div class="tab-pane active fadeIn" id="account">
    <div class="padded">
      <div class="row">
        <div class="col-md-8">

          <div class="col-sm-offset-4 col-sm-8">
            <h4 class="vpadded">Account data</h4>
          </div>
          <%= form_for(@user, as: resource_name, url: registration_path(resource_name), html: { method: :put, class:"form-horizontal" }) do |f| %>

              <%= devise_error_messages! %>
              <% if devise_mapping.confirmable? && @user.pending_reconfirmation? %>
                  <div class="ns-content animated fadeInDownBig" style = "z-index: 999999;">
                    <div class="ns-box ns-box-alert"><%= image_tag('rr_logo.png', :class => "img-responsive") %></div>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    Please check your email, currently awaiting confirmation for: <%= @user.unconfirmed_email %>
                  </div>

              <% end %>
          <div class="form-group">
            <%= f.label :first_name, class: "col-sm-4 control-label" %>
            <div class="col-sm-8">
              <span class = "form-control not-allowed">
              <%= @user.first_name %>
              </span>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :last_name, class: "col-sm-4 control-label" %>
            <div class="col-sm-8">
              <span class = "form-control not-allowed">
              <%= @user.last_name %>
              </span>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :phone, class: "col-sm-4 control-label" %>
            <div class="col-sm-8">
              <%= f.phone_field :phone, class: "form-control" %>
            </div>
          </div>
              <div class="form-group">
                <%= f.label :username, class: "col-sm-4 control-label" %>
                <div class="col-sm-8">
                  <%= f.text_field :username, class: "form-control" %>
                </div>
              </div>
          <div class="form-group">
            <%= f.label :email, class: "col-sm-4 control-label" %>
            <div class="col-sm-8">
              <%= f.email_field :email, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label "Change Password", class: "col-sm-4 control-label" %>
            <div class="col-sm-8">
              <%= f.password_field :password, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label "Confirm Change", class: "col-sm-4 control-label" %>
            <div class="col-sm-8">
              <%= f.password_field :password_confirmation, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <span class = "small text-danger"> &nbsp; * we need your current password to confirm your changes</span>
            <%= f.label :current_password, class: "col-sm-4 control-label" %>

            <div class="col-sm-8">
              <%= f.password_field :current_password, class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :about_me, class: "col-sm-4 control-label" %>
            <div class="col-sm-8">
              <%= f.text_area :about_me, class: "form-control", :rows => 4%>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
              <ul class="list-inline pull-right">
                <li><%= link_to "Cancel", :back %></li>
                <li><%= f.submit "Update", class: "btn btn-success-lt" %></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <h4 class="vpadded">Your Avatar</h4>
          <% if current_user.image_url.present? %>
              <%= image_tag current_user.image_url, class: "img-circle img-em-border img-xs" %>
                <span class="btn btn-default btn-file">
                  <%= f.label "Change Image" %>
          <% else %>
              <span class="btn btn-default btn-file">
              <%= f.label "Add Image" %>
          <% end %>
                  <%= f.file_field :avatar %>
                </span>
          </div>
          <% end %>
          <div class="col-md-4">

          </div>

        </div>
      </div>
    </div>
</div>
<div class = "row">
  <div class = "col-xs-12">

    <div class="col-md-12">
      <div class="alert alert-purple alert-dismissable">
        <span class="glyphicon glyphicon-certificate"></span>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
          ×</button>
        <strong>Well done!</strong> a <a href="http://www.jquery2dotnet.com"target="_blank">alert</a>
        message box with cool color
      </div>


  </div>
</div>
    <% end %>
</div>
</div>


